html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: block;
  margin: 20px;
}

.container {
  width: 20%;
  margin-top: 100px;
  margin: 100px auto;
}

.box {
  width: 70px;
  height: 70px;
  background-color: white;
}

.b {
  position: relative;
  left: 70px;
}
.c {
  position: relative;
  left: 140px;
}
.d {
  position: relative;
  left: 70px;
}

.blink {
  display: inline-flex;
  animation: blink 1s steps(1, end) infinite;
  position: relative;
  left: 280px;
  bottom: 70px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
