html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: block;
  margin: 8px;
}

.container {
  width: 20%;
  margin: 100px auto;
}

.box {
  width: 50px;
  height: 50px;
  background-color: white;
}

.b {
  position: relative;
  left: 50px;
}
.c {
  position: relative;
  left: 100px;
}
.d {
  position: relative;
  left: 50px;
}

.blink {
  display: inline-flex;
  animation: blink 1s steps(1, end) infinite;
  position: relative;
  left: 160px;
  bottom: 50px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
